<div>
 <h4>Product </h4>
    <div class="submit-form">
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" required [(ngModel)]="product.description"
                name="description" />
        </div>

        <button (click)="saveProduct()" class="btn btn-success">Submit</button>
    </div>


    <h4>Product was submitted successfully!</h4>
    <button class="btn btn-success" (click)="newProduct()">Add</button>

</div>

<div class="list row">
  <div class="col-md-8">
  </div>
  <div class="col-md-6">
    <h4>Product List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let product of products; let i = index"

      >
        {{ product.description }}
      </li>
    </ul>

  </div>
</div>